name: ci

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Checkout repository again for copying into docker image
        uses: actions/checkout@v4
        with:
          path: repo
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - 
        name: Configure .env file
        run: |
          python -c "import os; file = open('.env', 'w'); file.write(os.environ['ENV']); file.close()"
        shell: bash
        env:
          ENV : ${{secrets.ENV}}
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            name/app
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
      -
        name: Build
        uses: docker/bake-action@v4
        with:
          files: |
            docker-compose.yml
            ./docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          targets: build
